#root, .change-film {
  margin: 0 auto;
}

#root {
  max-width: 90vw;
}

.change-film {
  display: block;
}

.films-list {
  &__item{
    border: 1px solid moccasin;
    padding: 1em;
    margin: 1em;
  }
}